*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black !important;
}

#netflix-logo{
    fill: #e50914;
}

.svg-icon-netflix-logo{
    width: 8.375rem;
    height: 2.25rem;
}